.uk-button {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 8px 18px;
	color: var(--body-text-dark);
	font-size: 16px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-roboto);
}

.uk-button--default {
	background-color: transparent;
}

.uk-button--default:hover:not(.uk-button--disabled) {
	background-color: var(--transparent-hover);
}

.uk-button--primary {
	background-color: var(--primary);
	color: var(--body-text-light);
}

.uk-button--primary:hover:not(.uk-button--disabled) {
	background-color: var(--primary-hover);
}

.uk-button--secondary {
	background-color: var(--secondary);
	color: var(--body-text-dark);
}

.uk-button--secondary:hover:not(.uk-button--disabled) {
	background-color: var(--secondary-hover);
}

.uk-button--success {
	background-color: var(--success);
	color: var(--body-text-light);
}

.uk-button--success:hover:not(.uk-button--disabled) {
	background-color: var(--success-hover);
}

.uk-button--warning {
	background-color: var(--warning);
	color: var(--body-text-light);
}

.uk-button--warning:hover:not(.uk-button--disabled) {
	background-color: var(--warning-hover);
}

.uk-button--info {
	background-color: var(--info);
	color: var(--body-text-light);
}

.uk-button--info:hover:not(.uk-button--disabled) {
	background-color: var(--info-hover);
}

.uk-button--ghost {
	background-color: transparent;
	border: 1px solid var(--ghost-border);
	color: var(--ghost-text);
}

.uk-button--ghost:hover:not(.uk-button--disabled) {
	border-color: var(--ghost-border-hover);
	color: var(--ghost-text-hover);
}

.uk-button--disabled {
	opacity: 0.5;
	cursor: default;
}
